<div id="parent" class="container-fluid d-flex p-5 my-5">
  <div class="row">

    <div id="column-one" class="col-md-6">
      <div class="text-container py-5 mx-auto">
        <h1>What I Do?</h1>

        <p>
         I help brands build clean, responsive designs that speak to users. Whether it's mobile or web, I bring ideas to life through modern development and intuitive design.
          Delivering clear, user-first experiences. <br />
          Let's collaborate and create something impactful.
        </p>

        <p>
          Every project begins with purpose and ends with results. Let's build something meaningful together.
        </p>

        <button class="btn my-3 py-3-px-5 rounded-3">Say Hello!</button>
      </div>
    </div>
    <!-- BREAKPOINT  -->
    <div id="column-two" class="col-md-6">

      <div class="container mx-auto">
        <div class="img-info-con">
          <div class="img-con my-2 mx-auto">
            <img src="assets/images/profile.jpg" alt="" srcset="">
          </div>

          <h1 class="img-name">Victor Ayeni</h1>
          <p>Frontend developer</p>
        </div>

        <div class="info-container">
          <div *ngFor="let item of info" class="info-row">
            <div class="infos">
              <span class="label">{{ item.label }}:</span>
              <span class="value" [ngStyle]="{ color: item.color || '#333' }">
                {{ item.value }}
              </span>
            </div>
          </div>
        </div>

        <div class="skills-container my-3">
          <h3 class="text-center">Skills</h3>

          <div *ngFor="let skill of skills" class="skill">
            <div class="skill-name">
              {{ skill.name }} 
              <span>{{ skill.percentage }}%</span>
            </div>

            <div class="progress-bar">
              <div class="progress-fill" [style.width.%]="skill.percentage">

              </div>
            </div>
          </div>
        </div>

        <div class="extra-skills-container">
          <h3 class="text-center">Extra Skills</h3>

          <ul>
            @for (skill of extraSkills; track $index) {
              <li>
                <svg xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="#A53Dff"
                  width="16"
                  height="16"
                  class="icon">
                  <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
                <span class="mx-2">{{ skill }}</span>
              </li>
            }
          </ul>
        </div>
        <!-- mini parent closing tag -->
      </div>

      <!-- PARENTS CLOSING TAG BELOW -->
    </div>
  </div>
  <!-- CONTAINERS CLOSING TAG BELOW -->
</div>

<div id="testimonials-con" class="container my-5">
  <h1 class="title">Testimonials</h1>

  <p class="text">
    Hear what others are saying about working with me. feedback from clients who value quality, creativity, and reliability.
  </p>

  <div class="carousel-wrapper my-5 mx-auto">
      <ngb-carousel class="carousel" #carouselRef
        *ngIf="testimonials.length"
        [interval]="4000"
        [pauseOnHover]="true"
        (slide)="onSlide($event)"
        >
          @for (t of testimonials; track $index) {
            <ng-template ngbSlide>
              <div class="testimony">
                <p class="text">{{ t.text }}</p>
                <h2 class="name">{{ t.name }}</h2>
                <p class="position">{{ t.position }}</p>
              </div>
            </ng-template>
            }
        
      </ngb-carousel>
    
      <div class="carousel-buttons">
        <button (click)="goToPrev()" class="arrow-left"><i class="fa-solid fa-arrow-left"></i></button>
        <button (click)="goToNext()" class="arrow-right"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
  </div>
</div>

