<div id="parent" class="container-fluid d-flex p-5 my-5">
  <div class="row">

    <div id="column-one" class="col-md-6">
      <div class="text-container py-5 mx-auto">
        <h1>What I Do?</h1>

        <p>
         I help brands build clean, responsive designs that speak to users. Whether it's mobile or web, I bring ideas to life through modern development and intuitive design.
          Delivering clear, user-first experiences. <br />
          Let's collaborate and create something impactful.
        </p>

        <p>
          Every project begins with purpose and ends with results. Let's build something meaningful together.
        </p>

        <button class="btn my-3 py-3-px-5 rounded-3">Say Hello!</button>
      </div>
    </div>
    <!-- BREAKPOINT  -->
    <div id="column-two" class="col-md-6">
      <div class="container">
        <!-- ==== FIRST DIV ==== -->
        <div class="row col-md-12 p-5">
          <h1>User Experience (UX)</h1>

          <p>
            Crafting thoughtful journeys that engage users. I optimize interfaces for clarity, ease, and satisfaction by putting user needs first — from wireframes to final feedback loops.
          </p>
        </div>
        <!-- ==== SECOND DIV ==== -->
        <div class="row col-md-12 p-5">
          <h1>User Interface (UI)</h1>

          <p>
            Designing with precision and intent. I create visual interfaces that are not only aesthetically pleasing but also intuitive, guiding users with visual clarity and structure.
          </p>
        </div>
        <!-- ==== THIRD DIV ==== -->
        <div class="row col-md-12 p-5">
          <h1>Web Development</h1>

          <p>
            Writing clean, scalable code with performance in mind. Whether it's static sites or dynamic web apps, I develop responsive, fast-loading websites using modern technologies.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- CONTAINERS CLOSING TAG BELOW -->
</div>

<div id="testimonials-con" class="container my-5">
  <h1 class="title">Testimonials</h1>

  <p class="text">
    Hear what others are saying about working with me. feedback from clients who value quality, creativity, and reliability.
  </p>

  <div class="carousel-wrapper my-5 mx-auto">
      <ngb-carousel class="carousel" #carouselRef
        *ngIf="testimonials.length"
        [interval]="4000"
        [pauseOnHover]="true"
        (slide)="onSlide($event)"
        >
          @for (t of testimonials; track $index) {
            <ng-template ngbSlide>
              <div class="testimony">
                <p class="text">{{ t.text }}</p>
                <h2 class="name">{{ t.name }}</h2>
                <p class="position">{{ t.position }}</p>
              </div>
            </ng-template>
            }
        
      </ngb-carousel>
    
      <div class="carousel-buttons">
        <button (click)="goToPrev()" class="arrow-left"><i class="fa-solid fa-arrow-left"></i></button>
        <button (click)="goToNext()" class="arrow-right"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
  </div>
</div>

