#parent {
  min-height: 600px;
  background-color: #F0F1F3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  
  }
  .row {
    
      #column-one {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        .text-container {
          width: 350px; 
          height: 500px;
          text-align: left;

          h1 {
            color: #333;
            font-size: 48px;
            font-weight: 600;
          }

          p {
            font-size: 18px;
            color: #87909D;
            font-weight: 400;
          }

          button {
            background: #A53DFF;
            color: white;
            transition: .3s ease-in-out;

            &:hover {
              background: lighten($color: #A53DFF, $amount: 10%);
            }
          }
        }
      }

      #column-two {

        .container {

          [class^="row"] {
            background: white;
            margin-block: 15px;
            border-radius: 7px;
            border-left: 7px solid white;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.178);
            transition: .3s ease-in-out;

            &:hover {
              border-left: 7px solid #A53DFF;
            }

            h1 {
              font-size: 24px;
              color: #132238;
              font-weight: 600;
            } 

            p {
              font-size: 16px;
              color: #424E60;
              font-weight: 400;
            }
          }
        }
      }
  }

// CAROUSEL STYLES BELOW

#testimonials-con {
  max-width: 50%;
  text-align: center;

  .title {
    font-size: 48px;
    font-weight: 600;
    color: #333;
  }

  .text {
    color: #87909D;
    font-size: 18px;
  }

  .carousel-wrapper {
      width: 50%;
      border: 1px dashed rgba(0, 0, 0, 0.224);
      position: relative;
      background: #dde1e6;

      .carousel-buttons {
        position: absolute;
        bottom: 53px;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        z-index: 2;

        button {
          background: transparent;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: .3s ease;
          background: #a43dffa9;
          color: white;
          border: none;
          outline: none;
        }

        button:active {
          transform: scale(0.95);
        }
      }

      .carousel {
        width: 100%;
    
        .testimony {
          padding: 20px;
          
          h2 {
            font-weight: 600;
            font-size: 18px;
          }
    
          .text {
            font-size: 16px;
          }
    
          .position {
            color: #2B384C;
            font-size: 16px;
          }
        }
      }
  }

}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next {
  display: none;
}

::ng-deep .carousel-indicators [data-bs-target] {
  background-color: white;
  width: 7px;
  height: 7px;
  margin: 0 5px;
  border-radius: 50%;
  transition: .3s ease-in-out;
}

::ng-deep .carousel-indicators .active {
  background-color: #c084fc;
  opacity: 1;
  transform: scale(1.1);
}