<div id="container" class="container rounded-4">
  <div class="row">
    <div id="first-container" class="col-md-6 p-4">
      <div class="div">
        <h1>Lets Discuss Your Project</h1>
        <p>There are many variations of passages of Lorem Ipsu available. but the majority have suffered alte.</p>
      </div>

        <div class="row">
          <div class="col-md-12">

            <div class="content-container">

              <div class="icon-container">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <!-- BREAKPOINT -->
               <div class="info-container">
                <p>Address:</p>
                <h2>Alimosho 123</h2>
               </div>
            </div>
          </div>
          <!-- DIVIDER -->
          <div class="col-md-12">

            <div class="content-container">

              <div class="icon-container">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <!-- BREAKPOINT -->
               <div class="info-container">
                <p>Address:</p>
                <h2>Alimosho 123</h2>
               </div>
            </div>
          </div>
          <!-- DIVIDER -->
          <div class="col-md-12">

            <div class="content-container">

              <div class="icon-container">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <!-- BREAKPOINT -->
               <div class="info-container">
                <p>Address:</p>
                <h2>Alimosho 123</h2>
               </div>
            </div>
          </div>
    
    </div>
    </div>
    <!-- ====== DIVIDER ===== -->
    <div class="col-md-6">
      <p>second content</p>
    </div>
  </div>
</div>