@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@500;600;700;800&display=swap");

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  --color-background:                #0e0e13;
  --color-surface:                   #0e0e13;
  --color-surface-container-lowest:  #000000;
  --color-surface-container-low:     #131319;
  --color-surface-container:         #19191f;
  --color-surface-container-high:    #1f1f26;
  --color-surface-container-highest: #25252d;

  --color-on-surface:         #f9f5fd;
  --color-on-surface-variant: #acaab1;
  --color-outline:            #76747b;
  --color-outline-variant:    #48474d;

  --color-primary:           #9effc8;
  --color-primary-dim:       #00ec9a;
  --color-primary-fixed:     #1dfba5;
  --color-primary-fixed-dim: #00ec9a;
  --color-on-primary:        #00643e;
  --color-on-primary-container: #005a38;
}
